@* @{
    var todoList = ViewData["TodoList"] as List<string>;
}

<h2>Danh sách công việc (Lấy từ ViewData)</h2>

@if (todoList != null)
{
    <ul>
        @foreach (var task in todoList)
        {
            <li>@task</li>
        }
    </ul>
} *@

@model List<SimpleTodoApp.Models.TaskEntity>

@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Danh sách công việc</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>
                    @if (task.IsCompleted)
                    {
                        <span class="text-success">Đã hoàn thành</span>
                    }
                    else
                    {
                        <span class="text-danger">Chưa hoàn thành</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@task.Id">Chỉnh sửa</a> |
                    <a asp-action="Delete" asp-route-id="@task.Id">Xoá</a>
                </td>
            </tr>
        }
</table>

<p>
    <a asp-action="Create">Tạo công việc mới</a>
</p>

